body {
    background-color:#5A9DF4;
}

.navbar-toggler:hover{
    background-color: #181A1C;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out
}

.nav p {
  padding: 10px;
}


/* from:https://www.w3schools.com/howto/howto_js_tabs.asp
Style the buttons that are used to open the tab content */
.nav button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
    background-color: #5A9DF4;
}

/* Change background color of buttons on hover */
.nav button:hover {
  background-color: #0B59C6;
}

/* Create an active/current tablink class */
.nav button.active {
  background-color: #0d6efd;
}


/* from: https://www.w3schools.com/howto/howto_css_topnav_centered.asp
Add a black background color to the top navigation */
