body {
    background-color:#31383F;
    font-weight: 400;
}

.jumbotron{
    background-color:#5A9DF4;
}
.lead, .btn, button{
    font-weight: 400;
}

.navbar-toggler:hover{
    background-color: #181A1C;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out
}

.nav p {
  padding: 10px;
}

.album{
    background-color:#31383F;
}

.card{
    border: 1px solid #31383F;
}


/* from:https://www.w3schools.com/howto/howto_js_tabs.asp
Style the buttons that are used to open the tab content */
.nav button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
    background-color: #5A9DF4;
}

/* Change background color of buttons on hover */
.nav button:hover {
  background-color: #0B59C6;
}

/* Create an active/current tablink class */
.nav button.active {
  background-color: #0d6efd;
}


/* from: https://stackoverflow.com/questions/47798971/several-modal-images-on-page
Modal Images */
.modal-dialog{
  padding-top: 40px;
}

.modal-dialog,
.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-height: 550px;
  max-width: 1200px;
  width: auto;
}
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
    cursor: pointer;
}

/* Accordion */
.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #0d6efd;
}
.accordion-button {
    color: #fff;
    background-color: #5A9DF4;
    border: 3px solid rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2312529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


/* To Top button */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #5A9DF4; /* Set a background color */
  color: white; /* Text color */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #0B59C6; /* Add a dark-grey background on hover */
}
